*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, sans-serif; 
}

html {
    scroll-behavior: smooth;
    min-width: 345px;
}

body {
    background-color: #EDEDED;
}

h1, h2, h3 {
    color: #2f1c6a;
}

.div_lien {
    text-decoration: none;
    color: inherit;
}


/* BOUTON HAMBURGER */

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;  
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin-left: 30px;
}

.menu-btn__burger {
    width: 30px;
    height: 4px;
    background: #000;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(8px); 
  }
  
.menu-btn__burger::after {
    transform: translateY(-8px); 
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    background: transparent;
    transform: rotate(180deg);
 }
 
 .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) 
 }
 
 .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) 
 }

 /* ----------- BOUTON HAMBURGER ------------*/

 /* LE HEADER */

.header {
    background-color: #E3E6F3;
    padding: 10px 0;
    box-shadow: 2px 2px 10px 0px rgba(255,255,255,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto auto;
}

/* LOGO et NOM APP */

.header__logo {
    display: flex;
    align-items: center;
}

/** C'est pas parce qu'on a pas encore le vrai logo*/
.header__logo img {
    border-radius: 10px;
}

.header__nom-app {
   margin-left: 20px; 
   font-weight: 500;
   font-size: 30px;
   color: blue;
}

/* -------- LOGO et NOM APP --------- */

/* LA NAVIGATION */

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav__menu {
    display: flex;
}


.header__nav li {
    list-style: none;
}

.header__nav a {
    text-decoration: none;
    color: inherit;
}

/* bouton de téléchargement */
.telecharger {
    background-color: #1C31EE;
    color: white;
    padding: 8px 27px;
    border-radius: 7px;
    margin-left: 25px;
    cursor: pointer;
}

/* -----bouton de téléchargement------ */

/* bouton de navigation */
.header__nav__menu__link {
    margin-right: 25px;
    opacity: 60%;
    font-size: 18px;
    transition: opacity .2s ease-in;
}

.header__nav__menu__link:hover {
    opacity: 100%;
}

/* -----bouton de navgation------ */

/* PRESENTATION */

.presentation {
    height: 100vh;
    width: 100%;
    margin-top: 81px;

    background-color: #E3E6F3;
    
    position: relative;
    
}


/* DEGRADE*/

.presentation__degrade {
    position : absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8519782913165266) 39%, rgba(0,0,0,0.6474964985994398) 75%, rgba(15,32,62,0.6222864145658263) 100%);
}
/* -----------DEGRADE----------*/

/* IMAGE PRESENTATION */
.presentation__image {
    position : absolute;
    top: 70px;
    right: 10%;
    height: 489.46px;
    width: 636px;
    background-image: url('images/imageDesktop.jpg');
    background-repeat: no-repeat;
}

/* -------IMAGE PRESENTATION-------- */

/* TEXTE PRESENTATION */
.presentation__texte {
    position : absolute;
    top: 70px;
    left: 10%;
    color: white;
    max-width: 500px;
}

.presentation__texte__titre {
    line-height: 40px;
    color: #fff;
}

.presentation__texte__titre span {
    color: #5965ce;
    font-size: 40px;
}

.presentation__texte__contenu {
    margin: 20px 20px 20px 0;
    line-height: 20px;
    color: rgba(255,255,255,0.7);
}

.presentation__texte_telechargement__link {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,0.9);
    background-color: #1C31EE;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 10px 0 5px 0;
    font-size: 15px;
    cursor: pointer;
}

.presentation__texte_telechargement__msg {
    font-size: 11px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255,255,255,0.7);
    margin-left: 5px;
}

/* ----------TEXTE PRESENTATION----------- */

/* OBJECTIF DE L'APPLICATION */

.objectif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 70px;
}

.objectif__main__titre {
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
}

.objectif__main__container {
    display: flex;
    max-width: 820px;
}

.objectif__main__container__image {
    width: 245px;
    height: 448px;
    background-image: url('images/version_mobile_grand.jpg');
    background-repeat: no-repeat;
}

.objectif__main__container__texte {
    max-width: 536px;
    margin-left: 40px;
}

.objectif__main__container__texte p {
    font-size: 20px;
    line-height: 25px;
    color: rgba(0,0,0,0.6);
    max-width: 500px;
    text-align: justify;
}

.objectif__main__container__texte p:first-of-type {
    margin-bottom: 30px;
}

/* ---------OBJECTIF DE L'APPLICATION------------- */

/* LES RAISON D'UTILISATION DE L'APPLICATION */
.raison {
    padding: 70px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.raison__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.raison__titre {
    margin-bottom: 120px;
    max-width: 330px;
    text-align: center;
    font-size: 30px;
}

.raison__main__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    position: relative;
    background-color: #6171AC;
    border-radius: 10px;
    padding-top: 90px;
    margin-bottom: 140px;
}


.raison__main__card:nth-child(1),
.raison__main__card:nth-child(3) {
    margin-right: 30px;
}

.raison__main__card__icone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 110px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.raison__main__card__titre {
    color: white;
    padding-bottom: 20px;
}

.raison__main__card__contenu {
    color:rgba(255,255,255,0.85);
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    width: 284px;
    height: 140px;
    text-align: justify;
}



.raison__main__card__lire-plus {
    display: block;
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #ED5555;
    border-radius: 30px;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* -------------LES RAISON D'UTILISATION DE L'APPLICATION---------- */

/* LES FONCTIONNALITES */
.fonctionnalite {
    background-color: #fff;
    padding: 70px 0 45px 0; /* 70px - 25px (article) = 45px*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Entete des fonctionnalités */

.fonctionnalite__entete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fonctionnalite__entete__titre {
    font-size: 30px;
    max-width: 446px;
    text-align: center;
    font-size: 30px;
}

.fonctionnalite__entete__texte {
    max-width: 840px;
    line-height: 22px;
    color: rgba(0,0,0,0.6);
    margin: 30px 10px 0 10px;
}

/* -----Entete des fonctionnalités-------- */

/* Contenu des fonctionnalités */

.fonctionnalite__main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    padding-top: 60px;
}

.fonctionnalite__main__article {
    display: flex;
    max-width: 366px;
    padding-bottom: 25px;
}

.fonctionnalite__main__article__icone svg {
    width: 80px;
    height: 60px;
}

.fonctionnalite__main__article__contenu-texte {
    padding: 10px 0 0 10px;
}

.fonctionnalite__main__article__contenu-texte__titre {
    color :rgba(0,0,0,0.85)
}

.fonctionnalite__main__article__contenu-texte__texte {
    padding-top: 20px;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.5);
}

/* ------Contenu des fonctionnalités--------- */

/* --------LES FONCTIONNALITES--------- */

/* LICENCE */

.licence {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
}

.licence__titre {
    padding-bottom: 40px;
    font-size: 35px;
    text-align: center;
}

/* Licence recommandation */

.licence__parrainage__recommandation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.licence__parrainage__recommandation__titre  {
    padding: 20px;
    text-align: center;
    background-color: #2f1c6a;
    color: #E3E6F3;
    max-width: 600px;
    margin: 40px 15px 0 15px;
    border-radius: 10px;
}


.licence__parrainage__texte {
    max-width: 840px;
    color: rgba(0,0,0,0.6);
    margin: 0 10px;
    line-height: 20px;
}

.licence__parrainage__texte.licence__parrainage__recommandation {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 5px;
    max-width: 600px;
}

.licence__parrainage__texte.licence__parrainage__recommandation strong, 
.licence__parrainage__texte.licence__parrainage__recommandation i {
    color: #000;
    font-size: 20px;
}

/* ---------Licence recommandation------------- */

/* Licence formule */

.licence__plan {
    display: flex;
    width: 80%;
    max-width: 800px;
    margin: auto auto;
    flex-direction: column;
    position: relative;
}

.licence__plan__titre {
    margin: 25px 0;
    font-size: 25px;
    text-align: center;
}

.licence__plan__select-box {
    position: absolute;
    top: 90px;
    right: 0;
}

.licence__plan__select-box p {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.licence__plan__select-box__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background-color: #0f172a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.licence__plan__select-box__titre svg {
    height: 30px;
    width: 25px;
    margin-top: 5px;
    color: #fff;
}

.licence__plan__select-box__titre span {
    color: #fff;
}

.licence__plan__select-box__liste {
    width: 200px;
    background-color: #0f172a;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 75px;
    left: 0;
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear, visibility .2s linear;
    z-index: 1;
}

.licence__plan__select-box__liste.clique {
    visibility: visible;
    opacity: 1;
}

.licence__plan__select-box__liste__element {
   padding: 5px 10px;
   border-radius: 4px;
   margin: 0 3px;
}

.licence__plan__select-box__liste__element:hover {
    background-color: #64748b;
 }

.licence__plan__select-box__liste__element:first-of-type {
    padding-top: 10px;
    margin-top: 2px;
}

.licence__plan__select-box__liste__element:last-of-type {
    padding-bottom: 10px;
    margin-bottom: 2px;
}

.licence__plan__formules {
    margin-top: 100px;
    transition: all 0.1s linear;
}


.licence__plan__formules__pays__prix-mois {
    color: rgb(0,0,0);
    padding: 10px 20px;
    background-color: #fff;
    max-width: 240px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.licence__plan__formules__pays__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.prix-mois__valeur {
    color: #ED5555;
}

.prix-mois__unite {
    font-size: 12px;
}

.licence__plan__formules__pays__main__card { 
    padding: 20px 10px;
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px 10px 10px 0;
    transform: scale(1);
    transition: transform .2s linear;
}

.licence__plan__formules__pays__main__card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.licence__plan__formules__pays__main__card__titre {
    padding-bottom: 20px;
    color: #2f1c6a;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.licence__plan__formules__pays__main__card__economie {
    text-align: center;
}

.licence__plan__formules__pays__main__card__economie span {
    display: block;
}

.licence__plan__formules__pays__main__card__economie span:first-child {
    text-decoration: line-through;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    margin-bottom: 8px;
}

.licence__plan__formules__pays__main__card__economie span:last-child {
    background-color: #ed5555;
    color: white;
    padding: 8px 12px;
    border-radius: 30px;
    max-width: 180px;
    margin: auto auto;
}

.licence__plan__formules__pays__main__card__prix {
    padding: 30px 0;
    font-size: 40px;
    color: #2f1c6a;
    font-weight: 700;
    text-align: center;
}

.licence__plan__formules__pays__main__card__periode  {
    padding: 20px 10px;
    background-color: rgb(148, 118, 118);
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

/* ------------Licence formule--------- */

/* -------------- LICENCE ---------- */

/* PIED DE PAGE */

.pied-page {
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 100px;
    color: white;
}

.pied-page__contenu {
    max-width: 800px;
    margin: auto auto;
}

.pied-page__contenu__engagement {
    text-align: center;
    padding: 40px 0 30px 0;
    font-size: 20px;
    font-weight: 700;
}

.pied-page__contenu__texte {
    line-height: 20px;
    padding-bottom: 30px;
    font-size: 15px;
    max-width: 786px;
    margin: auto 20px;
    color: rgba(255, 255, 255, 0.8);
}

.pied-page__contenu__texte span {
    font-weight: 700;
    color: #fff;
}

.pied-page__contenu__telecharger {
    text-align: center;
    background-color: #c48742;
    max-width: 200px;
    margin: auto auto 50px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 16px, rgba(242, 242, 255, 0.05) 0px 8px 32px;
}

.pied-page__contact {
    background-color: #38424b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.pied-page__contact__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pied-page__contact__info:first-child {
    margin-right: 50px;

}





.pied-page__contact__info svg {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}




@media screen and (min-width: 320px) {
    /* Pour toujours avoir des marges*/
    .header__main {
        width: 95%;
        margin: auto auto;
    }

}


@media screen and (max-width: 500px) {
    .telecharger {
        position: absolute;
        top: 22px;
        right: -150px;
        transition: all .3s ease-in-out;
    }

    .telecharger.open {
        right: 140px;
    }

    .raison__main__card:nth-child(1),
    .raison__main__card:nth-child(3) {
        margin-right: 0;
    }
    
}

/* Pour le responsive des raison d'utilisation de l'application */
@media screen and (max-width: 746px) {
    .raison__main {
        justify-content: center;
        align-items: center;
    }

    .raison__main__card:nth-child(3) {
        margin-bottom: 140px;
    }
}


@media screen and (max-width: 820px) {

    .menu-btn {
        display: flex;
    }

    .header__nav__menu {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 200px;
        align-items: center;
        justify-content: start;
        position: absolute;
        background-color: #E3E6F3;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        transition: all .3s ease-in-out;
    }

    .header__nav__menu.open {
        right: 0;
    }

    

    .header__nav__menu__link {
        margin-bottom: 25px;
        opacity: 60%;
        font-size: 18px;
        transition: opacity .2s ease-in;
    }


    .overlay-menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: none;
    }

    .overlay-menu-mobile.open {
        display: block;
    }

    

    /* IMAGE PRESENTATION */
    .presentation__image {
        position : absolute;
        top: 70px;
        right: 10%;
        height: 307px;
        width: 310px;
        background-image: url('images/appAccueil2\ 1.jpg');
    }

    /* -------IMAGE PRESENTATION-------- */

    /* OBJECTIF DE L'APPLICATION */

    .objectif__main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 820px;
    }

    .objectif__main__container__image {
        background-image: url('images/app_version_mobile.png');
        height: 366px;
        width: 200px;
        margin-bottom: 50px;
    }

    .objectif__main__container__texte {
        margin: 0 15px;
    }

    /* ---------OBJECTIF DE L'APPLICATION------------- */


}


@media screen and (min-width: 1115px) {
    .fonctionnalite__main__article:nth-child(4) {
        margin-left: 150px;
    }
    .fonctionnalite__main__article:nth-child(5) {
        margin-right: 150px;
    }

}

@media screen and (max-width: 785px) {
    .fonctionnalite__main {
        flex-direction: column;
        justify-content: center;
    }
}
